{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}  

    {# Hero Section #}  
    <b>This is Home page</b>
    {# Main Section #}
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
    </head
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">recboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/mohit-chawla/recboard">Github</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container-fluid">
            <!-- IMPORTANT enctype attribute! -->
            <div class="row top-buffer">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="datasets-div">
                    </div>
                </div>
                <div class="col-md-6">
                    <h4 >Upload new dataset</h4>
                    <hr>
                    <form class="dropzone" action="/board/upload" method="post" enctype="multipart/form-data" id="my-dropzone">
                        {% csrf_token %}
                    </form>
                    <button id="upload-file">
                        Upload
                    </button>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-dz-uploadprogress>
                            <span class="progress-text"></span>
                        </div>
                    </div>
                </div>
            </div>
           

            <hr>
            
            <!-- Workspaces start here -->
            <span class="glyphicon glyphicon-search"></span>
            <h2>Workspaces</h2>
            <hr>
            <div class="row">
                <div id="create-workspace-div" class="col-md-12">
                    <h4>Create new workspace</h4>
                    <input type="text" name="workspace-name" id="new-workspace-name"/>
                    <button id="create-workspace-btn" >Create Workspace</button>
                </div>
            </div>

            <div id="workspaces-div" class="row">
            </div> 
            <!-- Workspaces end here -->
            <script type="text/javascript">
                var hostname = window.location.origin
                var user_root_url  = hostname + "/board/user"
                var workspace_root_url = user_root_url + "/workspace"
                var dataset_root_url = user_root_url + "/dataset"
                debug = true
                var userDatasets = [];

                function getWorkspaceList(){
                    url = workspace_root_url + "/list"
                    if (debug){
                        console.log("listing workspaces",url)   
                    }
                    $.get( url, function( workspaces ) {
                        addWorkspacesToUI(workspaces)
                    });
                }

                function getDatasetList(cb){
                    url = dataset_root_url + "/list"
                    if (debug){
                        console.log("listing datasets",url)   
                    }
                    $.get( url, function( data ) {
                        addDatasetsToUI(data)                    
                        $.each(data,function( _ , dataset){
                            userDatasets.push(dataset)
                        });
                        if(cb && typeof cb === "function") {
                            cb();
                        }
                    });
                }


                function getAvailableRecommenders(){
                    //TODO
                }

                function modelDatasetOptionsUI(){
                    options = ""
                    $.each(userDatasets, function(i,ds){
                        options += "<option>"+ds+"</option>"
                    });
                    return options
                }

                function createModelForm(workspace){
                    //Creates form to create a model in workspace
                    options = modelDatasetOptionsUI()
                    return ' Create new Model <div class="createModel"> Recommender <select> <option>BPR</option></select> Dataset <select class="datasetSelect">'+modelDatasetOptionsUI()+'</select> <button class="trainModel">Train</button></div>'
                }

                function addWorkspacesToUI(workspaces){
                    //clear existing workspaces
                    $.each(workspaces,function(_,workspace){
                        addWorkspaceToUI(workspace)
                    });
                }
                
                function addWorkspaceToUI(workspace){
                    //add single workspace to UI
                        $("#workspaces-div").prepend('<div id='+workspace+' class="workspace"><h3>'+workspace+'</h3><hr class="workspace-hr"/><br/>'+createModelForm()+'</div>')
                }


                function addDatasetsToUI(datasets){
                    $("#datasets-div").empty()
                    $("#datasets-div").append('<h4>Uploaded datasets</h4><hr>')
                    n = $(datasets).size()
                    if (n == 0){
                        $("#datasets-div").append("No dataset, please upload new")
                    }
                    else{
                        $.each(datasets, function(_, dataset){
                            $("#datasets-div").append('<div>'+dataset+'</div>')       
                        });
                    }
                }

                function getTBPort(){
                    // Get port of tensorboard for this model
                    url = workspace_root_url + "/model/port"
                    $.get( url, function( data ) {
                        console.log("retrieved port ..",data['port'])
                        return data["port"]
                    });
                }
                // Train a model
                $(document).on('click', '.trainModel', function (e) {
                    if (debug){
                        console.log("Training model ...",)
                        var workspaces_div = $(this).parent().parent() // get div of model from which this train btn was clicked

                        
                    }
                    $.ajax({
                        url : workspace_root_url+"/model/train",
                        type: "POST",
                        data : JSON.stringify({
                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, train_dataset: $(this).siblings('.datasetSelect').find(':selected').text(),
                            }),
                        dataType : "json",
                        success: function( data ){
                            console.log("training requested ...",data)
                            port = data['msg']
                            setTimeout(function(){
                                workspaces_div.append('<div class="model-div"><iframe src="http://localhost:'+port+'"height="800px" width="100%"></iframe></div>') 
                            },10000);
                            
                        }
                    });
                });

                  $.ajaxSetup({beforeSend: function(xhr, settings){
                    xhr.setRequestHeader('X-CSRFToken', 
                                         '{{ csrf_token }}');
                  }});
                

                // Create new workspace
                $(document).on('click', '#create-workspace-btn', function () {
                    var new_workspace_name = $("#new-workspace-name").val()
                    if (new_workspace_name != ""){
                        if (debug){
                            console.log("Creating new workspace ...", new_workspace_name)
                        }
                        $.ajax({
                            url : workspace_root_url+"/create",
                            type: "POST",
                            data : JSON.stringify({workspace_name:new_workspace_name}),
                            dataType : "json",
                            success: function( newWorkspaceList ){
                                console.log("workspace created ..., updating UI")
                                addWorkspaceToUI(new_workspace_name)
                            }
                        });
                    }
                });

                // var 
                $(window).load(function(){
                    // ORDER IS IMPORTANT HERE, datasets  MUST be listed before WORKSPACES
                    getDatasetList(getWorkspaceList); 

                });


            </script>
            <script src="{% static 'js/dropzone.js' %}"></script>
            <script type="text/javascript">
                Dropzone.options.myDropzone = {
                    acceptedFiles: ".xls,.csv,.xlsx,.dat",
                    maxFiles:1,
                    addRemoveLinks: true,
                    // Prevents Dropzone from uploading dropped files immediately
                    autoProcessQueue : false,
                    
                    accept: function(file, done) {
                        console.log("uploaded");
                        done();
                    },
                    
                    init: function() {

                        myDropzone = this;
                        var submitButton = document.querySelector("#upload-file")
                        
                        submitButton.addEventListener("click", function() {
                            myDropzone.processQueue();
                            // Tell Dropzone to process all queued files.
                        });

                        this.on("maxfilesexceeded", function(file){
                            alert("You can upload only one dataset at a time.");
                            this.removeFile(file)
                        });

                        this.on("complete", function (file) {
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            // Actions that needed to be done after all uplaods complete
                            this.removeFile(file)
                            $(".progress-text").text("All uploads completed")
                            getDatasetList(); 
                          }
                        });

                    
                    },

                    //shows upload progress bar
                    uploadprogress: function(file, progress, bytesSent) {
                        if (file.previewElement) {
                            progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                            progressElement.style.width = progress + "%";
                            $(".progress-text").text(progress + "%")
                        }
                    }

                };
            </script>
        </div>
    </body>
</html>

{% endblock content %}

