{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}  

    {# Hero Section #}  
    {# Main Section #}
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'brand/recboard.png' %} " height="25px" width="25px" > <span class="text-muted"> | </span> recboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/mohit-chawla/recboard">Github</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="fa fa-user-circle"></i> {{ user.username }}</a>
            </li> 
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"> Log out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <body>
        
        <div class="container-fluid">
            <!-- IMPORTANT enctype attribute! -->
            <div class="row top-buffer">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row board-content-outer-div">
                <div class="col-md-6 board-content-div">
                    <div id="datasets-div">
                    </div>
                </div>
                <div class="col-md-6 board-content-div">
                    <h4 >Upload new dataset</h4>
                    <hr>
                    <form class="dropzone" action="/board/upload" method="post" enctype="multipart/form-data" id="my-dropzone">
                        {% csrf_token %}
                    </form>
                    <button id="upload-file" class="btn btn-secondary">
                        Upload <i class="fa fa-cloud-upload"></i>
                    </button>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" data-dz-uploadprogress>
                            <span class="progress-text"></span>
                        </div>
                    </div>
                </div>
            </div>
           

            <!-- <hr> -->
            
            <!-- Workspaces start here -->
            <div id="create-workspace-div" class="row board-content-outer-div">
                <div class="col-md-12 board-content-div">
                    <span class="glyphicon glyphicon-search"></span>
                    <h2>Workspaces</h2>
                    <hr>
                    <h4>Create new workspace</h4>
                    <input type="text" name="workspace-name" id="new-workspace-name"/>
                    <button id="create-workspace-btn" class="btn btn-secondary">Create Workspace <i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div id="workspaces-div" class="row board-content-outer-div">
            </div> 
            <!-- Workspaces end here -->
            <script type="text/javascript">
                var hostname = window.location.origin
                var user_root_url  = hostname + "/board/user"
                var workspace_root_url = user_root_url + "/workspace"
                var dataset_root_url = user_root_url + "/dataset"
                debug = true
                var userDatasets = [];
                var availableRecommdenders = [];
                var iframeTimeout = 10000

                function getWorkspaceList(){
                    url = workspace_root_url + "/list"
                    if (debug){
                        console.log("listing workspaces",url)   
                    }
                    $.get( url, function( workspaces ) {
                        addWorkspacesToUI(workspaces)
                    });
                }

                function getDatasetList(cb){
                    url = dataset_root_url + "/list"
                    if (debug){
                        console.log("listing datasets",url)   
                    }
                    $.get( url, function( data ) {
                        addDatasetsToUI(data)                    
                        $.each(data,function( _ , dataset){
                            userDatasets.push(dataset)
                        });
                        if(cb && typeof cb === "function") {
                            cb();
                        }
                    });
                }


                function getAvailableRecommenders(cb){
                    url = workspace_root_url + "/recommender/list"
                    if (debug){
                        console.log("listing available recommenders",url)   
                    }
                    $.get( url, function( data ) {
                        $.each(data,function( _ , dataset){
                            availableRecommdenders.push(dataset)
                        });
                        if(cb && typeof cb === "function") {
                            cb();
                        }
                    });
                }

                function modelDatasetOptionsUI(){
                    options = ""
                    $.each(userDatasets, function(i,ds){
                        options += "<option>"+ds+"</option>"
                    });
                    return options
                }

                function modelRecommenderOptionsUI(){
                    options = ""
                    $.each(availableRecommdenders, function(i,recommender){
                        options += "<option>"+recommender+"</option>"
                    });
                    return options  
                }

                function createModelForm(workspace){
                    //Creates form to create a model in workspace
                    options = modelDatasetOptionsUI()

                    return '<div class="createModel col-md-12"> Recommender <select class="recommenderSelect"> '+modelRecommenderOptionsUI()+'</select> Train Dataset <select id="train-datasetSelect" class="datasetSelect">'+modelDatasetOptionsUI()+'</select> Test Dataset <select id="test-datasetSelect" class="datasetSelect">'+modelDatasetOptionsUI()+'</select> <button class="trainModel btn btn-primary">Train <i class="fa fa-superpowers"></i></button> </div>'
                }

                function addWorkspacesToUI(workspaces){
                    //clear existing workspaces
                    $.each(workspaces,function(_,workspace){
                        addWorkspaceToUI(workspace)
                    });
                }
                
                function addWorkspaceToUI(workspace){
                    //add single workspace to UI
                        $("#workspaces-div").prepend('<div id='+workspace+' class="workspace col-md-12"><div class="row"><div class="col-md-11"><h5>'+workspace+'</h3></div><div class="col-md-1"><span class="toggleWorkspace"><i class="fa fa-window-minimize" style="color:#ffcd00" data-toggle="tooltip" data-placement="top" title="Maximize/Minimize"></i></span> <i class="fa fa-trash" style="color:#800000"></i> </div></div><hr class="workspace-hr col-md-12"/><br/> <span class="workspace-body"> <div class="col-md-12"> <button class="btn btn-success">Add model <i class="fa fa-plus"> </i></button></div>'+createModelForm()+' <span style="float:right"></span></span></div>')
                }

                function datasetUIOptions(){
                    renameOption = '<i class="fa fa-pencil datasetElOptions" style="color:#7ec0ee"></i>'
                    deleteOption = '<i class="fa fa-trash datasetElOptions" style="color:#7ec0ee"></i>'
                    return renameOption + deleteOption
                }
                function addDatasetsToUI(datasets){
                    $("#datasets-div").empty()
                    $("#datasets-div").append('<h4>Uploaded datasets</h4><hr>')
                    n = $(datasets).size()
                    if (n == 0){
                        $("#datasets-div").append("No dataset, please upload new")
                    }
                    else{
                        $.each(datasets, function(_, dataset){
                            $("#datasets-div").append('<div> <i class="fa fa-file" style="color:#7ec0ee"></i> '+dataset+datasetUIOptions()+'</div>')       
                        });
                    }
                }

                function getTBPort(){
                    // Get port of tensorboard for this model
                    url = workspace_root_url + "/model/port"
                    $.get( url, function( data ) {
                        console.log("retrieved port ..",data['port'])
                        return data["port"]
                    });
                }
                function getLoadingDiv(){
                    return '<div class="model-loading-div" height="800px" width="100%"><center> Loading training details.. <br/> <img src="{% static "img/loading.gif" %}"></center></div>'
                }

                // Train a model
                $(document).on('click', '.trainModel', function (e) {
                    if (debug){
                        console.log("Training model ...",)
                        var workspaces_div = $(this).parent().parent() // get div of model from which this train btn was clicked

                        
                    }
                    
                    selectedRecommender = $(this).siblings('.recommenderSelect').find(":selected").text()
                    selectedTrainDataset = $(this).siblings('#train-datasetSelect').find(':selected').text()
                    selectedTestDataset = $(this).siblings('#test-datasetSelect').find(':selected').text()
                    $.ajax({
                        url : workspace_root_url+"/model/train",
                        type: "POST",
                        data : JSON.stringify({
                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                train_dataset: selectedTrainDataset,
                                recommender: selectedRecommender,
                            }),
                        dataType : "json",
                        success: function( data ){
                            console.log("training requested ...",data)
                            port = data['msg']
                            workspaces_div.append(getLoadingDiv())
                            setTimeout(function(){
                                workspaces_div.children().last().remove(); //remove loading element
                                workspaces_div.append('<div class="model-div"><iframe src="http://localhost:'+port+'"height="800px" width="100%"></iframe><span class="modelOptions danger"><i class="fa fa-stop"></i>Cancel</span><span class="modelOptions"><i class="fa fa-download"></i> Download</span><span class="modelOptions"> <i class="fa fa-upload"></i> Deploy</span></div>') 
                            },iframeTimeout);
                            
                        }
                    });
                });

                  $.ajaxSetup({beforeSend: function(xhr, settings){
                    xhr.setRequestHeader('X-CSRFToken', 
                                         '{{ csrf_token }}');
                  }});
                

                // Create new workspace
                $(document).on('click', '#create-workspace-btn', function () {
                    var new_workspace_name = $("#new-workspace-name").val()
                    if (new_workspace_name != ""){
                        if (debug){
                            console.log("Creating new workspace ...", new_workspace_name)
                        }
                        $.ajax({
                            url : workspace_root_url+"/create",
                            type: "POST",
                            data : JSON.stringify({workspace_name:new_workspace_name}),
                            dataType : "json",
                            success: function( newWorkspaceList ){
                                console.log("workspace created ..., updating UI")
                                addWorkspaceToUI(new_workspace_name)
                                $("#new-workspace-name").val("")
                            }
                        });
                    }
                });

                $(document).on('click','.toggleWorkspace',function(e) {
                  //handler code here
                  if($(this).html() == '<i class="fa fa-window-maximize" style="color:#ffcd00"></i>'){
                          $(this).html('<i class="fa fa-window-minimize" style="color:#ffcd00"></i>');
                      }
                      else{
                          $(this).html('<i class="fa fa-window-maximize" style="color:#ffcd00"></i>');
                      }
                  $(this).parent().parent().siblings('.workspace-body').slideToggle()
                });

                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                });
                

                // var 
                $(window).load(function(){
                    // ORDER IS IMPORTANT HERE, datasets  MUST be listed before WORKSPACES
                    getAvailableRecommenders(getDatasetList(getWorkspaceList));                    
                });


            </script>
            <script src="{% static 'js/dropzone.js' %}"></script>
            <script type="text/javascript">
                Dropzone.options.myDropzone = {
                    acceptedFiles: ".xls,.csv,.xlsx,.dat",
                    maxFiles:1,
                    addRemoveLinks: true,
                    // Prevents Dropzone from uploading dropped files immediately
                    autoProcessQueue : false,
                    
                    accept: function(file, done) {
                        console.log("uploaded");
                        done();
                    },
                    
                    init: function() {

                        myDropzone = this;
                        var submitButton = document.querySelector("#upload-file")
                        
                        submitButton.addEventListener("click", function() {
                            myDropzone.processQueue();
                            // Tell Dropzone to process all queued files.
                        });

                        this.on("maxfilesexceeded", function(file){
                            alert("You can upload only one dataset at a time.");
                            this.removeFile(file)
                        });

                        this.on("complete", function (file) {
                          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            // Actions that needed to be done after all uplaods complete
                            this.removeFile(file)
                            $(".progress-text").text("All uploads completed")
                            getDatasetList(); 
                          }
                        });

                    
                    },

                    //shows upload progress bar
                    uploadprogress: function(file, progress, bytesSent) {
                        if (file.previewElement) {
                            progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                            progressElement.style.width = progress + "%";
                            $(".progress-text").text(progress + "%")
                        }
                    }

                };
            </script>
        </div>
    </body>
</html>

{% endblock content %}

