{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}  

    {# Hero Section #}  
    <b>This is Home page</b>
    {# Main Section #}
    <head>
        <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <meta charset="utf-8">
        {% load static %}
        <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
        <link href="{% static 'css/board.css' %}" type="text/css" rel="stylesheet"/>
    </head
    <body>
 
        <!-- IMPORTANT enctype attribute! -->
        <form class="dropzone" action="/board/upload" method="post" enctype="multipart/form-data" id="my-dropzone">
            {% csrf_token %}
        </form>
        <button id="upload-file">
            Upload
        </button>
        <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" data-dz-uploadprogress>
                <span class="progress-text"></span>
            </div>
        </div>

        <hr>
        <div id="datasets-div">
            <h2>User datasets</h2>
        </div>
        <!-- Workspaces start here -->
        <div id="workspaces-div">
            <h2>User workspaces</h2>
        </div> 
        <!-- Workspaces end here -->
        <script type="text/javascript">
            var hostname = window.location.origin
            var user_root_url  = hostname + "/board/user"
            var workspace_root_url = user_root_url + "/workspace"
            var dataset_root_url = user_root_url + "/dataset"
            debug = true
            var userDatasets = [];

            function getWorkspaceList(){
                url = workspace_root_url + "/list"
                if (debug){
                    console.log("listing workspaces",url)   
                }
                $.get( url, function( data ) {
                  $.each(data,function( _ , workspace){
                    addWorkspaceToUI(workspace)
                  });
                });
            }

            function getDatasetList(){
                url = dataset_root_url + "/list"
                if (debug){
                    console.log("listing datasets",url)   
                }
                $.get( url, function( data ) {
                    addDatasetsToUI(data)                    
                    $.each(data,function( _ , dataset){
                        userDatasets.push(dataset)
                    });
                    
                });
            }

            function getAvailableRecommenders(){

            }
            function modelDatasetOptionsUI(){
                options = ""
                $.each(userDatasets, function(i,ds){
                    options += "<option>"+ds+"</option>"
                });
                return options
            }
            function createModelForm(workspace){
                options = modelDatasetOptionsUI()
                return ' Create new Model <div class="createModel"> Recommender <select> <option>BPR</option></select> Dataset <select>'+modelDatasetOptionsUI()+'</select> <button class="trainModel">Train</button></div>'
            }

            function addWorkspaceToUI(workspace){
                $("#workspaces-div").append('<div id='+workspace+' class="workspace"><h3>'+workspace+'</h3><hr class="workspace-hr"/><br/>'+createModelForm()+'</div>')
            }

            function addDatasetsToUI(datasets){
                $("#datasets-div").empty()
                $("#datasets-div").append('<h2>User datasets</h2>')
                n = $(datasets).size()
                if (n == 0){
                    $("#datasets-div").append("No dataset, please upload new")
                }
                else{
                    $.each(datasets, function(_, dataset){
                        $("#datasets-div").append('<div>'+dataset+'</div>')       
                    });
                }
            }
            $(document).on('click', '.trainModel', function () {
                if (debug){
                    console.log("Training model ...")
                }
                
                $.ajax({
                    url : workspace_root_url+"/model/train",
                    type: "POST",
                    data : {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value},
                    dataType : "json",
                    success: function( data ){
                        console.log("training requested ...")
                    }
                });
            });
            // var 
            $(window).load(function(){
                // ORDER IS IMPORTANT HERE, datasets  MUST be listed before WORKSPACES
                getDatasetList(); 

                getWorkspaceList();

            });


        </script>
        <script src="{% static 'js/dropzone.js' %}"></script>
        <script type="text/javascript">
            Dropzone.options.myDropzone = {
                acceptedFiles: ".xls,.csv,.xlsx",
                maxFiles:1,
                addRemoveLinks: true,
                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue : false,
                
                accept: function(file, done) {
                    console.log("uploaded");
                    done();
                },
                
                init: function() {

                    myDropzone = this;
                    var submitButton = document.querySelector("#upload-file")
                    
                    submitButton.addEventListener("click", function() {
                        myDropzone.processQueue();
                        // Tell Dropzone to process all queued files.
                    });

                    this.on("maxfilesexceeded", function(file){
                        alert("You can upload only one dataset at a time.");
                        this.removeFile(file)
                    });

                    this.on("complete", function (file) {
                      if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        // Actions that needed to be done after all uplaods complete
                        this.removeFile(file)
                        $(".progress-text").text("All uploads completed")
                      }
                    });

                
                },

                //shows upload progress bar
                uploadprogress: function(file, progress, bytesSent) {
                    if (file.previewElement) {
                        progressElement = file.previewElement.querySelector("[data-dz-uploadprogress]");
                        progressElement.style.width = progress + "%";
                        $(".progress-text").text(progress + "%")
                    }
                }

            };
        </script>
    </body>
</html>

{% endblock content %}

